
<style>
    .hero-content-section {
        background-image: url("{{ wpage.acf.hero_section.image.url }}");
        background-size: cover;
        background-position: center center;
        clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 70%, 0 0);
    }
    .hero-img {
        background-image: url('{{ wpage.acf.hero_section.image.url }}');
        clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 100%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    .hero-section-box {
        max-width: 89rem;
    }
</style>

<div class="hero-section">
    <div class="grid grid-cols-11 mx-auto hero-section-box">
        <div class="relative col-span-11 sm:col-span-8 lg:col-span-6 ml-auto pt-48 sm:pt-56 pb-32 px-3 sm:px-6 lg:px-16 z-20 hero-content-section">
            <div class="absolute top-0 left-0 w-full h-full hero-section-gradient"></div>
            <div class="relative z-20">
                <h1 class="text-5xl sm:text-4xl md:text-5xl xl:text-6xl text-cream-500 leading-none">{{ wpage.acf.hero_section.title | safe }}</h1>
                <p class="text-base md:text-lg xl:text-xl 2xl:text-2xl font-thin text-cream-500 py-6 sm:pr-16 leading-normal">{{ wpage.acf.hero_section.paragraph }}</p>
                <a 
                    {% if wpage.acf.hero_section.button.link_to_where == "A page on this site" %}
                    href='{{ wpage.acf.hero_section.button.onsite_link }}'
                    {% elseif wpage.acf.hero_section.button.link_to_where == "Another site" %}
                    href='{{ wpage.acf.hero_section.button.offsite_link }}' target='_blank'
                    {% elseif wpage.acf.hero_section.button.link_to_where == "A file" %}
                            href='{{ wpage.acf.hero_section.button.file_link }}' 
                    target='_blank'
                    {% endif %}
                    >
                    <button class="">{{ wpage.acf.hero_section.button.text }}</button>
                </a>
            </div>
        </div>
        <div class="hidden sm:block relative col-span-11 sm:col-span-3 lg:col-span-5 max-w-5xl bg-cover bg-left sm:bg-center bg-no-repeat -mt-48 sm:-mt-0 sm:-mb-16 sm:-ml-32 py-40 sm:py-0 z-10 3xl:z-30 hero-img">
    
        </div>
    </div>
</div>

<div id="history" class="grid grid-cols-12 max-w-7xl mx-auto pt-12 sm:pt-40 pb-32 px-3 md:px-8 xl:px-16">
    <div class="col-span-12 md:col-span-4 pb-8 pr-8 xl:pr-16">
        <h2 class="text-5xl sm:text-4xl md:text-5xl xl:text-6xl text-green-500 leading-none">{{ wpage.acf.history_section.title | safe }}</h2>
    </div>
    <div class="col-span-12 md:col-span-8">
        <p class="text-lg text-gray-500 pb-8 sm:pb-5 whitespace-pre-line">{{ wpage.acf.history_section.paragraph }}</p>
    </div>
</div>

{% include "global/where-weve-been.njk" %}

<style>
    .commitments-section {
        background-color: #323F32;
        
    }
</style>

<div id="commitments" class="commitments-section">
    <div class="lg:grid grid-cols-12 max-w-7xl mx-auto pb-12 px-3 md:px-8 xl:px-16">
        <div class="col-span-12 md:col-span-4 pt-16 pb-20 lg:pb-0">
            <h2 class="text-5xl text-cream-500 pb-6 leading-none">{{ wpage.acf.commitments_section.title | safe }}</h2>
            <a 
                {% if wpage.acf.commitments_section.button.link_to_where == "A page on this site" %}
                href='{{ wpage.acf.commitments_section.button.onsite_link }}'
                {% elseif wpage.acf.commitments_section.button.link_to_where == "Another site" %}
                href='{{ wpage.acf.commitments_section.button.offsite_link }}' target='_blank'
                {% elseif wpage.acf.commitments_section.button.link_to_where == "A file" %}
                        href='{{ wpage.acf.commitments_section.button.file_link }}' 
                target='_blank'
                {% endif %}
                >
                <button class="">{{ wpage.acf.commitments_section.button.text }}</button>
            </a>
        </div>
        <div class="col-span-12 md:col-span-8 lg:-mt-8">
            <div class="sm:grid grid-cols-12 gap-8">
                {% for item in wpage.acf.commitments_section.commitment %}
                <div class="col-span-4 pb-12 md:pb-0">
                    <style>
                        .commit-img-{{ item.image.ID }} {
                            background-image: url('{{ item.image.url }}');
                            clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0 0);
                        }
                    </style>
                    <div class="w-auto bg-cover bg-center py-32 xs:py-40 sm:py-24 md:py-32 commit-img-{{ item.image.ID }}">
            
                    </div>
                    <h4 class="text-3xl sm:text-xl md:text-3xl text-cream-500 pt-5 pb-2">{{ item.title }}</h4>
                    <p class="max-w-md text-sm text-cream-500">{{ item.paragraph }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
.glide__bullet {
    background-color: #323F32;
    width: 30px;
    height: 2px;
    padding: 0 !important;
    margin: 5px !important;
}

.glide__bullet--active {
    background-color: #93AA93;
    width: 60px;
    height: 4px;
}
.testimonial-name {
    color: #93AA93;
}
</style>

<div class="max-w-7xl mx-auto pt-32 pb-48 md:pb-24 px-3 md:px-8 xl:px-16">
    <h2 class="text-4xl sm:text-6xl text-darkgreen-500 text-center">Testimonials</h2>
    <div class="max-w-7xl mx-auto pb-12 px-3 md:px-8 xl:px-16 testimonial-section">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.x/dist/css/glide.core.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.x"></script>
        <div
            x-data="{
                init() {
                    new Glide(this.$refs.glide, {
                        type: 'carousel',
                        perView: 3,
                        breakpoints: {
                            768: {
                                perView: 1,
                            },
                            992: {
                                perView: 2,
                            }
                        },
                    }).mount()
                },
            }"
        >
        <div x-ref="glide" class="glide relative px-6">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for item in testimonials %}
                    <div class="">
                        <div class="">
                            <p class="text-base text-darkgreen-500 pt-8 pb-3 sm:pr-8 whitespace-pre-line">{{ item.acf.text | safe }}</p>
                        </div>
                        <h6 class="text-green-100 testimonial-name">- {{ item.acf.first_name }} {{ item.acf.last_name }}</h6>
                    </div>
                    {% endfor %}
                </ul>
            </div>

            <div class="hidden md:flex items-center w-full max-w-lg mx-auto pt-8" data-glide-el="controls">
                <svg class="hover:cursor-pointer glide__arrow" width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg" data-glide-dir="<">
                    <path d="M14 24.1892L2.40674 12.5958L14 1.00256" stroke="#323F32" stroke-width="2"/>
                </svg>
                <div class="flex flex-wrap items-center h-full mx-auto glide__bullets" data-glide-el="controls[nav]">
                    {% for item in testimonials %}
                        <button class="glide__bullet" data-glide-dir="={{ loop.index0 }}"></button>
                    {% endfor %}
                </div>
                <svg class="hover:cursor-pointer" width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg" data-glide-dir=">">
                    <path d="M1 1.00269L12.5933 12.5961L1 24.1893" stroke="#323F32" stroke-width="2" data-glide-dir=">"/>
                </svg>
            </div>
        </div>
        </div>
    </div>
    <!-- <div class="max-w-7xl mx-auto swiper">
        <div class="swiper-wrapper">
            {% for item in testimonials %}
            <div class="swiper-slide">
                <div class="">
                    <p class="text-base text-darkgreen-500 pt-8 pb-3 sm:pr-8 whitespace-pre-line">{{ item.acf.text | safe }}</p>
                </div>
                <h6 class="text-green-100 testimonial-name">- {{ item.acf.first_name }}, {{ item.acf.last_name }}</h6>
            </div>
            {% endfor %}
        </div>
        <div class="hidden md:grid grid-cols-3 items-center w-full pt-8">
            <svg class="col-span-1 ml-auto hover:cursor-pointer swiper-button-prev" width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 24.1892L2.40674 12.5958L14 1.00256" stroke="#323F32" stroke-width="2"/>
            </svg>
            <div class="relative col-span-1 pt-3 swiper-pagination"></div>
            <svg class="col-span-1 hover:cursor-pointer swiper-button-next" width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1.00269L12.5933 12.5961L1 24.1893" stroke="#323F32" stroke-width="2"/>
            </svg>
        </div>
    </div> -->
</div>