<style>

</style>

<div class="flex flex-wrap w-full text-white mx-auto pt-64 pb-80 thank-you-section">
    <div class="w-full text-center">
        <h1 class="text-5xl font-bold leading-none">{{ wpage.heroSection.title }}</h1>
        <p class="pt-6 pb-12">{{ wpage.heroSection.paragraph }}</p>
        <a href="/">
            <button class="text-button">{{ wpage.heroSection.button.text }}</button>
        </a>
    </div>
</div>